@enghouse:registry=http://build-tools.zeacom.net:4873
@infragistics:registry=https://packages.infragistics.com/npm/js-licensed/
//packages.infragistics.com/npm/js-licensed/:_auth=YXBpOmIwMzVxKG5vIGRlc2NyaXB0aW9uKWJkMzIwMjEwOTI5MTU1NzM5YmUxNmRmNGEyMjEx
//packages.infragistics.com/npm/js-licensed/:username=cheng.lim!!enghouse.com
//packages.infragistics.com/npm/js-licensed/:always-auth=true
